.cube-wrapper {
  position: relative; /* Ensure this is relative to position buttons correctly if needed */
  display: flex;
  flex-direction: row; /* Adjust if your layout requires a different orientation */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
  width: 100vw;
}
.cube-container {
  perspective: 2000px;
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(240, 10%, 65%, 0.2);
  border: 4px solid hsl(289, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* backface-visibility: hidden; */
}

.front {
  transform: rotateY(0deg) translateZ(20vw);
}
.right {
  transform: rotateY(90deg) translateZ(20vw);
}
.back {
  transform: rotateY(180deg) translateZ(20vw);
}
.left {
  transform: rotateY(-90deg) translateZ(20vw);
}

.rotate {
  margin: auto;
  background-color: hsl(289, 100%, 50%);
  color: white;
  width: 8rem;
  height: 6rem;
  border: 2px solid white;
  border-radius: 1.5rem;
  font-size: 2rem;
}

.rotate:hover {
  background-color: hsl(289, 100%, 60%);
  outline: none;
  color: white;
}