.strength-meter {
  height: 2rem;
  width: 90%;
  border: 3px solid hsl(261, 88%, 57%);
  border-radius: 1rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.strength-meter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--strength, 0%);
  background-color: hsl(261, 88%, 67%);
  transition: width 200ms;
}





.reasons > * {
  margin-top: 0.5rem;
  color: hsl(261, 88%, 80%);
}
