.strength-meter {
  height: 3rem;
  width: 90%;
  border: 2px solid hsl(120, 99%, 50%);
  border-radius: 1.5rem;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}

.strength-meter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--strength, 0%);
  background-color: hsl(120, 99%, 60%);
  transition: width 200ms;
}

.reasons > * {
  font-size: small;
  margin-top: 0.5rem;
  color: hsl(0, 100%, 50%);
}
.spacer {
  flex-grow: 1;
}
