.strength-meter {
  height: 3rem;
  width: 90%;
  border: 2px solid hsl(261, 88%, 57%);
  border-radius: 1.5rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.strength-meter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--strength, 0%);
  background-color: hsl(261, 88%, 90%);
  transition: width 200ms;
}

.reasons > * {
  margin-top: 0.5rem;
  color: hsl(261, 88%, 80%);
}
